@import "tailwindcss";

/* Ajuste para impressão (mantendo nosso segredo do SaaS) */
@media print {
  @page {
    size: landscape;
    margin: 0;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .no-print {
    display: none !important;
  }
}